[user]
	name = David Jetelina
    email = david@djetelina.cz

[push]
    autoSetupRemote = true

[includeIf "gitdir:~/Documents/work/phrase/**"]
        path = ~/Documents/work/phrase/.gitconfig

[credential "https://github.com"]
	helper = 
{{ if eq .chezmoi.os "darwin" -}}
    helper = !/opt/homebrew/bin/gh auth git-credential
{{ else if eq .chezmoi.os "linux" -}}
	helper = !/usr/bin/gh auth git-credential
{{- end }}
[credential "https://gist.github.com"]
	helper = 
{{ if eq .chezmoi.os "darwin" -}}
    helper = !/opt/homebrew/bin/gh auth git-credential
{{ else if eq .chezmoi.os "linux" -}}
	helper = !/usr/bin/gh auth git-credential
{{- end }}
[core]
	excludesfile = ~/.gitignore_global
