# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
(( ${+commands[direnv]} )) && emulate zsh -c "$(direnv export zsh)"

if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

(( ${+commands[direnv]} )) && emulate zsh -c "$(direnv hook zsh)"

###########
# GENERAL #
###########
# Self-explanatory settings
DEFAULT_USER=`whoami`
HYPHEN_INSENSITIVE="true"
ENABLE_CORRECTION="true"
COMPLETION_WAITING_DOTS="true"
DISABLE_UNTRACKED_FILES_DIRTY="true"

# History
HIST_STAMPS="dd.mm.yyyy"
export HISTSIZE=1000000000
export SAVEHIST=$HISTSIZE
export HISTFILE="${XDG_STATE_HOME}/zsh/history"
setopt EXTENDED_HISTORY

# Some variables
export PATH=/opt/homebrew/bin:$PATH:/usr/local/opt/libressl/bin:/opt/homebrew/sbin:/usr/local/sbin:/usr/local/opt/libressl/bin:~/.local/bin:/usr/local/opt/python/libexec/bin
{{- if eq .chezmoi.os "darwin" -}}
FPATH="$(brew --prefix)/share/zsh/site-functions:${FPATH}"
{{- end }}
fpath+=~/.zfunc
autoload -U compinit && compinit -d "$XDG_CACHE_HOME"/zsh/zcompdump-"$ZSH_VERSION"
export ZSH=~/.oh-my-zsh
export LANG=en_US.UTF-8
export EDITOR='nvim'
export BROWSER='brave'
export PAGER='moor'
export TF_PLUGIN_CACHE_DIR="$HOME/.terraform.d/plugin-cache"
#Linux commit signing
export GPG_TTY=$(tty)


{{ if eq .chezmoi.os "darwin" -}}
export ZSH_PLUGINS_DIR="/opt/homebrew/share"
{{ else if eq .chezmoi.os "linux" -}}
export ZSH_PLUGINS_DIR="/usr/share/zsh/plugins"
{{- end }}

###################
# PLUGIN SELECTOR #
###################
source $ZSH_PLUGINS_DIR/zsh-autosuggestions/zsh-autosuggestions.zsh
source $ZSH_PLUGINS_DIR/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
export ZSH_HIGHLIGHT_HIGHLIGHTERS_DIR=$ZSH_PLUGINS_DIR/zsh-syntax-highlighting/highlighters
plugins=(aws command-not-found extract gh git gitfast direnv git-auto-fetch helm kubectl opentofu safe-paste terraform uv)

source $ZSH/oh-my-zsh.sh

###########
# THEMING #
###########
{{ if eq .chezmoi.os "darwin" -}}
source /opt/homebrew/opt/powerlevel10k/share/powerlevel10k/powerlevel10k.zsh-theme
{{ else if eq .chezmoi.os "linux" -}}
source /usr/share/zsh-theme-powerlevel10k/powerlevel10k.zsh-theme
{{- end }}

###############
# KEYBINDINGS #
###############
bindkey "^[^[[C" forward-word
bindkey "^[^[[D" backward-word
bindkey "\e[1;3C" forward-word
bindkey "\e[1;3D" backward-word
# PyCharm
bindkey "\e\eOD" backward-word
bindkey "\e\eOC" forward-word

###########
# ALIASES #
###########
source ~/.zsh_aliases

test -e "${HOME}/.iterm2_shell_integration.zsh" && source "${HOME}/.iterm2_shell_integration.zsh"

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh


eval "$(atuin init zsh)"

unsetopt correct_all
