alias mtfi="terraform init -var-file=../terraform.tfvars -var-file=../../terraform.tfvars -var-file=../../../../terraform.tfvars"
alias mtfp="terraform plan -var-file=../terraform.tfvars -var-file=../../terraform.tfvars -var-file=../../../../terraform.tfvars"
alias mtfa="terraform apply -var-file=../terraform.tfvars -var-file=../../terraform.tfvars -var-file=../../../../terraform.tfvars"
alias jic="jira issue create -tStory -lpre-groomed --custom Team=\"57e9df96-df00-4aaa-b4a8-67e71c2cbee7\""
alias jich="echo 'jic -PPLAT-<number> -y<prio> -s\"<title>\"'"
{{ if eq .chezmoi.os "linux" -}}
alias pbcopy='xclip -selection clipboard'
alias pbpaste='xclip -selection clipboard -o'
alias pvpnu='nmcli con up id "Phrase VPN"'
alias pvpnd='nmcli con down id "Phrase VPN"'
{{- end }}
alias work='cd ~/Documents/work/phrase'
alias personal='cd ~/Documents/personal'
alias glow='glow -t'
