apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ onepasswordRead "op://dotfiles/esa-dev/ca" }}
    server: {{ onepasswordRead "op://dotfiles/esa-dev/server" }}
  name: esa-dev
- cluster:
    certificate-authority-data: {{ onepasswordRead "op://dotfiles/kube-jtl/ca" }}
    server: {{ onepasswordRead "op://dotfiles/kube-jtl/server" }}
  name: jtl
contexts:
- context:
    cluster: esa-dev
    user: esa-dev
  name: esa-dev
- context:
    cluster: jtl
    user: jtl
  name: jtl
current-context: esa-dev
kind: Config
preferences: {}
users:
- name: esa-dev
  user:
    client-certificate-data: {{ onepasswordRead "op://dotfiles/esa-dev/cert" }}
    client-key-data: {{ onepasswordRead "op://dotfiles/esa-dev/key" }}
- name: jtl
  user:
    client-certificate-data: {{ onepasswordRead "op://dotfiles/kube-jtl/cert" }}
    client-key-data: {{ onepasswordRead "op://dotfiles/kube-jtl/key" }}
